<footer class="block block--dark footer">
  <div class="container collapsible__grid">
    <div class="collapsible__cell">
      <section class="collapsible--expanded collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Products</h2>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content">
          <a href="#" class="footer__link">WordPress Hosting</a>
          <a href="#" class="footer__link">Free Automated WordPress</a>
          <a href="#" class="footer__link">Migrations</a>
          <a href="#" class="footer__link">Domain Names</a>
          <a href="#" class="footer__link">Monthly Web Hosting</a>
        </div>
      </section>
      <section class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Company</h2>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content">
          <a href="#" class="footer__link">About</a>
          <a href="#" class="footer__link">Affiliates</a>
          <a href="#" class="footer__link">Blog</a>
          <a href="#" class="footer__link">Careers</a>
          <a href="#" class="footer__link">Community</a>
          <a href="#" class="footer__link">News</a>
          <a href="#" class="footer__link">Green Hosting</a>
        </div>
      </section>
      <section class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Support</h2>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content">
          <a href="#" class="footer__link">Contact</a>
          <a href="#" class="footer__link">Knowledge Base</a>
          <a href="#" class="footer__link">Forums</a>
          <a href="#" class="footer__link">Systems Status</a>
          <a href="#" class="footer__link">Web Hosting</a>
          <a href="#" class="footer__link">GreamCompute</a>
        </div>
      </section>
      <section class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Domains</h2>
          <img
            class="icon collapsible__chevron"
            src="icons/chevron.svg"
            alt=""
          />
        </header>
        <div class="collapsible__content">
          <ul>
            <a href="#" class="footer__link">Domain Checker</a>
            <a href="#" class="footer__link">domain Transfer</a>
            <a href="#" class="footer__link">Free Domain</a>
            <a href="#" class="footer__link">XYZ Domain</a>
            <a href="#" class="footer__link">Cheap SSL Certificate</a>
          </ul>
        </div>
      </section>
      <div class="logo">
        <img src="images/logo.png" alt="" />
        <p class="footer__copywrite">Copywrite © 2020 mosh</p>
      </div>
    </div>
  </div>
</footer>
