<section class="block--dark block--skewed-right showcase">
  <header>
    <h2 class="showcase__header">User-Friendly Control Panel</h2>
  </header>
  <div class="showcase__block">
    <div class="grid grid--1x2 showcase__grid">
      <picture>
        <source
          type="image/png"
          srcset="images/resized/ipad@1x.png 1x, images/resized/ipad@2x.png"
        />
        <img
          src="images/resized/ipad@2x.png"
          alt="An ipad dispaying an example admin hub."
        />
      </picture>
      <div class="grid grid--1x3">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">
              Easy Start & Managed Updates
            </h3>
            <p class="showcase__description">
              Our cloud plans include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">Staging, Git & WP-CLI</h3>
            <p class="showcase__description">
              We make your WordPress and WooCommerce development flow easier
              with a convenient staging tool and Git and WP-CLI integration.
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="icons/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title showcase__title">Dynamic Caching & More</h3>
            <p class="showcase__description">
              Speed up your WordPress and Woo sites with our SG Optimizer plugin
              through smart dynamic caching and multiple other performance
              optimizations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
